* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font_big{
  font-size: 50px;
}
.font_Philosopher , .font_big{
  font-family: 'Philosopher', sans-serif;
}
.img{
  width: 100%;
}
.Blogs_border , .Blogs_border2{
  min-height: 450px;

}
/* .Blogs_border2{
  margin: 0 5%;
} */
.line_blog{
  line-height: 18px;
}